.logoContainer {
  position: relative;
  height: 46px;

  align-items: center;
}

.food {
  min-height: 47px;
  min-width: 73px;
}
.fork {
  position: fixed;
  margin-top: -28px;
  margin-left: -7px;
}
