@font-face {
  font-family: "icons";
  src: url("./fonts/icons.eot?qbx9ag");
  src: url("./fonts/icons.eot?qbx9ag#iefix") format("embedded-opentype"),
    url("./fonts/icons.ttf?qbx9ag") format("truetype"),
    url("./fonts/icons.woff?qbx9ag") format("woff"),
    url("./fonts/icons.svg?qbx9ag#icons") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="_icon-"]::before,
[class*=" _icon-"]::before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icons" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

._icon-fork:before {
  content: "\e900";
}
._icon-cross:before {
  content: "\e901";
}
._icon-food:before {
  content: "\e902";
}
._icon-mappoint:before {
  content: "\e903";
}
._icon-mastercard:before {
  content: "\e904";
}
._icon-phone:before {
  content: "\e905";
}
._icon-telegram:before {
  content: "\e906";
}
._icon-twitter:before {
  content: "\e907";
}
._icon-visa:before {
  content: "\e908";
}
._icon-youTube:before {
  content: "\e909";
}
._icon-instagram:before {
  content: "\ea92";
}
._icon-whatsapp:before {
  content: "\ea93";
}
._icon-skype:before {
  content: "\eac5";
}
._icon-pinterest:before {
  content: "\ead1";
}
