.block {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

@media (max-width: 1400px) {
  .block {
    margin-left: 10%;
  }
}
.title {
  font-size: 20px;
  font-weight: 700;
}

.strip {
  width: 60px;
  height: 3px;

  margin-left: 30px;

  background-color: #b59571;
}
