@font-face {
  font-family: "Circe";
  src: local("Circe"), url(./fonts/Circe/Circe-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Circe";
  font-weight: 700;
  src: local("Circe"), url(./fonts/Circe/Circe-Bold.ttf) format("truetype");
}

.App {
  min-height: 100vh;
}
